* {
  box-sizing: border-box;
}
.mainContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 64px;
}

.dataContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 600px;
}

.header {
  text-align: center;
  font-size: 32px;
  font-weight: 600;
}

.bio {
  text-align: center;
  color: gray;
  margin-top: 16px;
}

textarea{
  min-height: 4rem;
  border: 1px solid #abc;
  padding: .3rem;
  width: 100%;
  
}

.waveButton {
  cursor: pointer;
  margin: 0 0 16px 0;
  line-height: 2rem;
  border: 1px solid #abc;
  background: #fff;
  width: 100%;
}

.msg {
  border: 1px #abc solid;
  padding: 1rem;
  margin-bottom: 16px;
}

.msgText{
  margin-top: .5rem;
  border-top: 1px solid #abc;
  padding-top: .5rem;
}

.mono {
  font-size: .8rem;
  font-family: monospace;
  display: block;
}

.ethMsg{
  margin: 16px 0 4px;
  font-family: monospace;
  font-size: .9em;
  border: 1px solid #abc;
  display: inline-block;
  line-height: 1.4rem;
  padding: 0 .3rem;
  width: 100%;
}

.errorMsg{
  color: #d9534f;
   width: 100%;
}